<header
  class="w-screen p-4 border-b-2 border-black flex items-center justify-between"
>
  <div class="flex items-center">
    <img class="w-10 mr-3 cursor-pointer" src="assets/menu.png" alt="Menu" />
    <p class="cursor-pointer">MENU</p>
  </div>

  <div class="w-40"></div>

  <div class="flex flex-col items-center flex-grow text-center mx-auto">
    <h2 class="text-6xl p-2">InfoPulse</h2>
    <div class="p-3">
      <h3 class="text-2xl">As melhores notícias você encontra aqui!</h3>
      <p class="text-1xl mt-3">Desde 2024</p>
    </div>
  </div>

  <div class="flex items-center">
    <div class="flex items-center mr-4">
      <img class="cursor-pointer mr-3 w-10" src="assets/user.png" alt="Login" />
      <p class="cursor-pointer">LOGIN</p>
    </div>
    <div class="flex items-center">
      <img
        class="cursor-pointer mr-3 w-10"
        src="assets/search.png"
        alt="Search"
      />
      <p class="cursor-pointer">SEARCH</p>
    </div>
  </div>
</header>
