<div class="flex flex-column justify-content-center align-items-center">
  <div class="w-full">
    <app-top-bar></app-top-bar>
  </div>

  <p-toast position="top-left" key="tl" />
  <p-toast position="top-center" key="tc" />
  <p-toast position="top-right" key="tr" />

  <div class="w-full flex align-items-center justify-content-around p-3 border-bottom-1 border-gray-200">
    <div>
      <p-button icon="pi pi-plus" label="Nova notícia" styleClass="w-10rem" (click)="criarNoticia()"></p-button>
    </div>

    <div class="flex align-items-center mx-3 p-2 border-1 border-round border-gray-300">
      <div class="p-field mr-4">
        <p-calendar dateFormat="dd/mm/yy" [maxDate]="hoje" appendTo="body" [(ngModel)]="dataInicial" placeholder="Data Inicial Filtro"></p-calendar>
      </div>

      <div class="p-field mr-3">
        <p-calendar dateFormat="dd/mm/yy" [maxDate]="hoje" appendTo="body" [(ngModel)]="dataFinal" placeholder="Data Final Filtro"></p-calendar>
      </div>

      <div class="p-field">
        <p-button icon="pi pi-filter" label="Filtrar" styleClass="px-3 py-1" (click)="filtrar()"></p-button>
      </div>
    </div>

    <div>
      <p-iconField iconPosition="left" class="flex align-items-center">
        <p-inputIcon>
          <i class="pi pi-search"></i>
        </p-inputIcon>
        <input pInputText type="text" (input)="onFilter($event)" placeholder="Pesquisar pelo título" />
      </p-iconField>
    </div>
  </div>

  <div class="w-10 p-4 mt-5">
    <h2 *ngIf="campoPesquisa != null && campoPesquisa != ''">{{ filteredNoticias.length }} Resultados encontrados</h2>

    <p-dataView #dv [value]="filteredNoticias" [rows]="5" [paginator]="true" filterBy="titulo">
      <ng-template pTemplate="list" let-noticias>
        <div class="border-bottom-1 pb-3 m-3" *ngFor="let item of noticias; let first = first">
          <div class="flex justify-content-between w-full p-2" [ngClass]="item.ativo ? ' opacity-100' : 'opacity-60'">
            <div class="w-5 mr-3">
              <p-image src="{{ item.imagemContentType }}" previewImageSrc="{{ item.imagemContentType }}" alt="Image" width="230px" height="250px" [style]="{ 'object-fit': 'cover' }" [preview]="true"></p-image>
            </div>

            <div class="w-full flex flex-column p-2">
              <h2>Título: {{ item.titulo }}</h2>
              <p>Categoria: {{ item.categoria.nome }}</p>
              <p>Conteúdo: {{ item.conteudo.length > 40 ? (item.conteudo | slice : 0 : 40) + '...' : item.conteudo }}</p>
              <p>Resumo: {{ item.resumo.length > 40 ? (item.resumo | slice : 0 : 40) + '...' : item.resumo }}</p>
              <p>Por: {{ item.autor }}</p>
              <p>Criação: {{ extractDateOnly(item.dataPublicacao) }}</p>
              <p>Última modificação: {{ extractDateOnly(item.dataUltimaModificacao) }} as {{ extractTimeOnly(item.dataUltimaModificacao) }}</p>
              <div class="flex align-items-center">
                <p class="mr-2">Status:</p>
                <p [ngClass]="item.ativo ? 'text-green-500' : 'text-red-500'" class="font-bold">{{ item.ativo ? 'ATIVO' : 'INATIVO' }}</p>
              </div>
            </div>

            <div class="flex flex-column">
              <p-button icon="pi pi-pencil" class="mb-2" (click)="criarNoticia(item)" />
              <p-button icon="pi pi-trash" (click)="excluirNoticia(item)" />
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </div>
</div>
