<div class="flex flex-column justify-content-center align-items-center">
  <div class="w-full p-3">
    <p-toast position="top-left" key="tl" />
    <p-toast position="top-center" key="tc" />
    <p-toast position="top-right" key="tr" />

    <p-toolbar>
      <div class="p-toolbar-group-start">
        <p-button icon="pi pi-plus" class="mr-2" (click)="criarNoticia()" />
      </div>

      <div class="p-toolbar-group-center">
        <span class="p-input-icon-left p-ml-auto">
          <i class="pi pi-search"></i>
          <input pInputText type="search" (input)="onFilter($event)" placeholder="Pesquisar" />
        </span>
      </div>
    </p-toolbar>
  </div>

  <div class="w-10 p-4 mt-5">
    <p-dataView #dv [value]="filteredNoticias" [rows]="5" [paginator]="true" filterBy="titulo">
      <ng-template pTemplate="list" let-products>
        <div class="border-bottom-1 pb-3 m-3" *ngFor="let item of products; let first = first">
          <div class="flex justify-content-between w-full p-2" [ngClass]="item.ativo ? ' opacity-100' : 'opacity-60'">
            <div class="w-5 mr-3">
              <p-image src="{{ item.imagemContentType }}" previewImageSrc="{{ item.imagemContentType }}" alt="Image" width="230px" height="250px" [style]="{ 'object-fit': 'cover' }" [preview]="true"></p-image>
            </div>

            <div class="w-full flex flex-column p-2">
              <h2>Título: {{ item.titulo }}</h2>
              <p>Categoria: {{ item.categoria.nome }}</p>
              <p>Conteúdo: {{ item.conteudo.length > 40 ? (item.conteudo | slice : 0 : 40) + '...' : item.conteudo }}</p>
              <p>Resumo: {{ item.resumo.length > 40 ? (item.resumo | slice : 0 : 40) + '...' : item.resumo }}</p>
              <p>Por: {{ item.autor }}</p>
              <p>Criação: {{ extractDateOnly(item.dataPublicacao) }}</p>
              <p>Status: {{ item.ativo ? 'ATIVO' : 'INATIVO' }}</p>
            </div>

            <div class="flex flex-column">
              <p-button icon="pi pi-pencil" class="mb-2" (click)="criarNoticia(item)" />
              <p-button icon="pi pi-trash" (click)="excluirNoticia(item)" />
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </div>
</div>
