<div class="">
  <form class="" autocomplete="off">
    <div class="">
      <h1>Login</h1>
      <h2>Entre com as suas credenciais</h2>
    </div>

    <div class="">
      <input
        type="text"
        pInputText
        [(ngModel)]="credentials.username"
        placeholder="Digite seu login"
      />

      <div class="">
        <input
          type="text"
          pInputText
          [(ngModel)]="credentials.password"
          placeholder="Digite sua senha"
          [type]="showPassword ? 'text' : 'password'"
          name="password"
          autocomplete="new-password"
          maxlength="15"
          minlength="5"
        />

        <button type="button" class="" (click)="togglePasswordVisibility()">
          <span *ngIf="!showPassword">🔒</span>
          <span *ngIf="showPassword">👁️</span>
        </button>

      </div>
    </div>

    <div class="">
      <p-button class="" type="button" (click)="login()"/>
    </div>

    <p-button label="Primary" />
    <p-button label="Secondary" severity="secondary" />
    <p-button label="Success" severity="success" />
    <p-button label="Info" severity="info" />
    <p-button label="Warning" severity="warning" />
    <p-button label="Help" severity="help" />
    <p-button label="Danger" severity="danger" />
    <p-button label="Contrast" severity="contrast" />
  </form>
</div>
