<form [formGroup]="dadosForm" (ngSubmit)="salvar()" #formDir="ngForm" autocomplete="off">

  <p-toast position="top-left" key="tl" />
  
  <div class="p-fluid p-2 w-full">

    

    <div *ngIf="!alterarSenha" class="p-field mb-4">
      <label>Nome Completo:</label>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="fa-solid fa-font"></i>
        </span>
        <input type="text" class="rounded-md p-2" style="border: 1px solid black;" pInputText autocomplete="anystring" formControlName="nome" />
      </div>
      <div *ngIf="dadosForm.get('nome')?.invalid && (dadosForm.get('nome')?.touched || formDir.submitted)">
        <small *ngIf="dadosForm.get('nome')?.errors?.['required']" class="p-error"> O campo Nome é obrigatório </small>
        <small *ngIf="dadosForm.get('nome')?.errors?.['minlength']" class="p-error"> O campo Nome precisa ter no mínimo 5 caracteres </small>
      </div>
    </div>

    <div *ngIf="!alterarSenha" class="p-field mb-4">
      <label>Login:</label>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="fa-solid fa-user"></i>
        </span>
        <input type="text" pInputText autocomplete="anystring" formControlName="login" />
      </div>

      <div *ngIf="dadosForm.get('login')?.invalid && (dadosForm.get('login')?.touched || formDir.submitted)">
        <small *ngIf="dadosForm.get('login')?.errors?.['required']" class="p-error"> O campo Login é obrigatório </small>
        <small *ngIf="dadosForm.get('login')?.errors?.['minlength']" class="p-error"> O campo Login precisa ter no mínimo 10 caracteres </small>
      </div>
    </div>

    <div *ngIf="!alterarSenha" class="p-field mb-4">
      <label>Email:</label>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="fa-solid fa-at"></i>
        </span>
        <input type="text" pInputText autocomplete="anystring" formControlName="email" />
      </div>

      <div *ngIf="dadosForm.get('email')?.invalid && (dadosForm.get('email')?.touched || formDir.submitted)">
        <small *ngIf="dadosForm.get('email')?.errors?.['required']" class="p-error"> O campo Email é obrigatório </small>
        <small *ngIf="dadosForm.get('email')?.errors?.['minlength']" class="p-error"> O campo Email precisa ter no mínimo 10 caracteres </small>
      </div>
    </div>

    <span *ngIf="!alterarSenha" class="underline cursor-pointer" (click)="habilitarAlterarSenha()">Alterar Senha</span>

    <div *ngIf="alterarSenha" class="p-field mb-4">
      <label>Senha antiga:</label>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="fa-solid fa-lock"></i>
        </span>
        <input type="password" pInputText name="currentPassword" autocomplete="doNot" formControlName="currentPassword" />
      </div>

      <div *ngIf="dadosForm.get('currentPassword')?.invalid && (dadosForm.get('currentPassword')?.touched || formDir.submitted)">
        <small *ngIf="dadosForm.get('currentPassword')?.errors?.['required']" class="p-error"> O campo é obrigatório </small>
      </div>
    </div>

    <div *ngIf="alterarSenha" class="p-field mb-4">
      <label>Nova senha:</label>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="fa-solid fa-lock"></i>
        </span>
        <input type="password" pInputText autocomplete="anystring" formControlName="newPassword" />
      </div>

      <div *ngIf="dadosForm.get('newPassword')?.invalid && (dadosForm.get('newPassword')?.touched || formDir.submitted)">
        <small *ngIf="dadosForm.get('newPassword')?.errors?.['required']" class="p-error"> O campo é obrigatório </small>
        <small *ngIf="dadosForm.get('newPassword')?.errors?.['minlength']" class="p-error"> O campo precisa ter no mínimo 10 caracteres </small>
      </div>
    </div>

    <div *ngIf="alterarSenha" class="p-field mb-4">
      <label>Confirmar nova senha:</label>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="fa-solid fa-lock"></i>
        </span>
        <input type="password" pInputText autocomplete="anystring" formControlName="confirmNewPassword" />
      </div>

      <div *ngIf="dadosForm.get('confirmNewPassword')?.touched || formDir.submitted">
        <small *ngIf="haspasswordMismatch()" class="p-error"> As senhas não são iguais </small>
      </div>
    </div>

    <p-toast />
  </div>

  <!-- Botões -->
  <div class="flex w-full justify-content-between">
    <p-button styleClass="w-full mt-4" type="submit" label="Salvar" icon="pi pi-check" class="p-button-text p-button-success" />
    <p-button styleClass="w-full mt-4" type="button" label="Cancelar" (click)="cancelar()" icon="pi pi-times" class="p-button-text p-button-danger" />
  </div>
</form>
