@import 'primeflex/primeflex.css';



html,
body {
  height: 100%;
  font-family: 'Poppins', sans-serif !important;
}

/* Defina a fonte padrão para o body */
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif !important;
}
